@charset "utf-8";
/* CSS Document */
#books{
	margin-bottom:120px;
}
.book{
	padding-top:100px;
	padding-left:5vw;
	padding-right:5vw;
	text-align:center;
}
.book .row .text-left{
	padding-right:4vw;	
}
.book .btns > a {
	text-decoration: none;
}
 .book .btns a:link, .book .btns a:visited {
	background-color: #8f3977;
	color: white;
	padding: 5px 25px;
	box-shadow: 0px 0px 18px #999;
}
.book .btns a:hover , .book .btns a:active{
	background-color: #d03ce1;
}
.book .thumbnail {
	background-color:transparent;
	border:none
}
.book .btns {
	margin-left:0.5vw; 
	margin-right:0.5vw;
}
.book .btns a:link, .book .btns a:visited {
	padding: 5px 10px;
}
.book h3 {
	font-weight:bold;
	color:#969799;
	text-transform:uppercase;
}
.book h5 {
	color: #c38aa9;
	text-transform:uppercase;
}
